<%= form_with model: blog_post do |form|%>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </div>

    <div>
        <%= form.label :body %><br>
        <%= form.text_field :body %>
    </div>

    <div>
        <%= form.label :published_at %><br>
        <%= form.datetime_select :published_at, include_blank: true %>
    </div>

    <%= form.button %>
<% end %>